<div class="jumbotron">
<% if current_user %>
  <h1 class="display-2">Your Current location is - </h1>
  <div id="map-container">
    <div id="map-canvas">
      <script type="text/javascript">
        function initMap() {
          var uluru = {lat: -25.363, lng: 131.044};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: uluru
          });
          var marker = new google.maps.Marker({
            position: uluru,
            map: map
          });
        }
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCl4lA_GxW4gDbM_oiADFGExzPajGqegBY&callback=initMap">
      </script>
    </div>
  </div>
<% else %>
  <h1 class="display-2">Welcome</h1>
  <p class="lead">
    This web application was created by
    <%= link_to('Gaurav Sharma', 'http://www.gauravatrai.com') %>
    and available at <%= link_to('Github', 'https://github.com/Gaurav2728/androidlogin') %>.
    Hosted on <%= link_to('Heroku', 'https://www.heroku.com') %>.
  </p>

  <%= link_to('Register Now', new_user_registration_path, class: 'btn btn-primary btn-lg') %>
  <%= link_to('Sign In', new_user_session_path, class: 'btn btn-primary btn-lg') %>

<% end %>
</div>
